@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    font-family: 'Space Mono', monospace;
}

:root {
    --primary-background-color:#C5E4E7;
    --primary-white-color: #FFFFFF;
    --error-orange-color: #E17457;
    --dark-green-color: #00474B;
    --input-color-tip-focus:#26C2AE;
    --input-middle-color:#547878;
    --input-background-color: #F3F9FA;
    --form-text-color: #5E7A7D;
    --btn-reset: #0D686D;
    --btn-reset-active-tipPersent-hover: #9FE8DF;
    --prePerson: #7F9D9F;
}

html {
    background: var(--primary-background-color);
    display: flex;
    justify-content: center;
}

.logo-box {
    width: 5.4162rem;
    height: 3.3213rem;
    margin: 5.4375rem auto 5.4375rem auto;
}

.main-box {
    width: 57.5rem;
    height: 30.0625rem;
    border-radius: 1.5625rem;
    background-color: var(--primary-white-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-box {
    width: 23.6875rem;
    height: 24.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-box {
    margin-top: 1.125rem;
}

.input-field {
    width: 23.6875rem;
    height: 3rem;
    margin-top: 0.375rem;
}

input {
    background-color: var(--input-background-color);
    border: none;
    text-align: right;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    cursor: pointer;
    caret-color: var(--input-color-tip-focus);
    color: var(--dark-green-color);
    border-radius: 0.3125rem;
    box-sizing: border-box;
    border: 0.125rem solid var(--primary-white-color);
}

input:hover {
    border: 0.125rem solid var(--input-color-tip-focus);
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

input:focus {
    outline: none;
    border: 0.125rem solid var(--input-color-tip-focus);
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin-right: 1.0625rem;
}

.input-middle::placeholder {
    color: var(--input-middle-color);
}
  
.input-field::placeholder {
    color: var(--dark-green-color);
    opacity: 0.35;
}

.icon1,
.icon2 {
    background-repeat: no-repeat;
    width: 0.615rem;
    height: 0.9656rem;
    position: absolute;
    left: 1.2163rem;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
}

.icon1 {
    background-image: url("../img/icon-dollar.svg");
}

.icon2 {
    background-image: url("../img/icon-person.svg");
}

.input-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.form-text {
    color: var(--form-text-color);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4812rem;
}

.tipBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.tipSelector {
    margin-top: 0.4375rem;
}

.tipPercent,
.input-middle {
    width: 7.3125rem;
    height: 3rem;
    border-radius: 0.3125rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.tipPercent {
    background-color: var(--dark-green-color);
    color: var(--primary-white-color);
}

.tipPercent:hover {
    background: var(--btn-reset-active-tipPersent-hover) !important;
    color: var(--dark-green-color);
} 

.tipPercent:focus {
    background: var(--input-color-tip-focus) !important;
    color: var(--dark-green-color);
} 

.focused-item{
    background-color: var(--input-color-tip-focus) !important;
}

.input-middle {
    background-color: var(--input-background-color);
    color: var(--dark-green-color);
}

input:invalid {
    border: 0.125rem solid var(--error-orange-color);
}

.error-msg-text{
    display: none;
    margin: 0 !important;
    padding: 0 !important;
    float: right;
    color: var(--error-orange-color);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

/* end  */




/* right green part */

.right-box {
    display: flex;
    flex-direction: column;
    width: 25.8125rem;
    height: 26.0625rem;
    background: var(--dark-green-color);
    border-radius: 0.9375rem;
}

.tip,
.total {
    display: flex;
    justify-content: space-between;
    width: 20.8125rem;
    height: 4.4375rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.tip {
    padding-top: 2.5rem;
}

.total {
    padding-top: 1.6875rem;
}

.perPerson {
    color: var(--prePerson);
    size: 0.8125rem;
}

.name,
.price {
    font-weight: 700;
}

.name {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-white-color);
    padding-top: 1rem;
}

.price {
    font-size: 3rem;
    line-height: 4.4375rem;
    letter-spacing: -0.0625rem;
    color: var(--input-color-tip-focus);
    display: flex;
    justify-content: flex-end;
}

.button-box {
    height: 12.8125rem;
    display: flex;
    padding-bottom: 2.5rem;
    justify-content: center;
}

.btn-reset {
    width: 20.8125rem;
    height: 3rem;
    background-color: var(--btn-reset);
    border-radius: 0.3125rem;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
}

.btn-reset:active {
    background-color: var(--btn-reset-active-tipPersent-hover);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--dark-green-color);
}

.tipPercent:hover,
.tipPercent:focus {
    background: var(--input-color-tip-focus);
    color: var(--dark-green-color);
}

